<div class="galleryModule container" ng-controller="galleryCtrl">
    <modal />
    <div class="row page-header">
        <div>
            <button class="btn btn-sm" ng-click="openSlideshow(images[0], true)">
                <strong>Slideshow</strong></span>
            </button>
        </div>
        <div>
            <h1>My Gallery</h1>
        </div>
    </div>
    <div class="row controlls">
        <div class="f-left">
            <div class="btn-group" role="group" >
                <sorting ng-if="dataEnableSorting || dataEnableSorting == null"/>
            </div>

            <div class="btn-group" role="group">
                <page-results />
            </div>
        </div>
        <div class="f-right">
            <searchbox ng-if="dataEnableSearch || dataEnableSearch == null"/>
        </div>
    </div>

    <!-- Images -->
    <div class="row row-centered">
        <gallery-image />
    </div>

    <!-- Images: Not found -->
    <div class="row" ng-if="filteredImages.length==0">
        <div class="alert alert-warning">
            Can&rsquo;t find items by current search query.
        </div>
    </div>
    <div class="row page-footer page-footer-2">
        <pagination ng-if="pagesArr.length>0 && (dataEnablePagination || dataEnablePagination == null)"/>
    </div>
</div>