.galleryModule {
  .dropdown-menu {
    li {
      &, a {
        cursor: pointer;
      }
    }
  }
  .f-left{
    float: left;
  }
  .f-right{
    float: right;
  }
  .left {
    text-align: left;
  }
  .right {
    text-align: right;
  }
  .alert {
    text-align: center;
  }
  .page-header {
    h1, h2, h3 {
      margin: 0;
    }
    h1{
      text-align: center;
      font-family: verdana;
    }
  }
  .page-footer {
    text-align: center;
    &.page-footer-1 {
      height: 60px;
    }
    &.page-footer-2 {
      height: 175px;
    }
  }


  .controlls{
    margin-bottom: 20px;
  }
  .row-centered {
    text-align:center;
  }
  .col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
  }

  .thumb:hover .btn-sm  {
    display: block;
  }

  .thumb:hover .date {
    display: block;
  }

    .thumb {
    width: 320px;
    margin: 0px;

    .holder {
      position: relative;
      bottom: -40px;
      z-index: 2;
    }

    .btn-sm {
      position: absolute;
      right: -15px;
      top: -51px;
      display: none;
      border-radius: 40px;
      float: right;
    }

    .btn-danger {
      color: #fff;
      background-color: #bb0000;
      border-color: #aaa;
    }


    .btn-danger:hover {
      color: #fff;
      background-color: #dd0000;
    }

    .date {
      margin-top: -30px;
      float: right;
      font-size: 12px;
      color: #fff;
      margin-right: 13px;
      padding: 3px 10px;
      right: -7px;
      position: relative;
      top: 3px;
      display: none;
      text-shadow: 1px 1px 1px #000;
    }
    .thumbnail {
      position: relative;
      cursor: pointer;
      text-align: center;
      height: 260px;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;

      .title {
        max-width: 100%;
        ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        top: -39px;
        padding: 0px 10px;
        color: #fff;
        background: rgba(0,0,0,0.5);
        line-height: 30px;
        font-size: 13px;
      }

      .btn.btn-sm.btn-danger {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 3px 10px;
      }
      .image-wrapper {
        display: block;
        height: 250px;
        margin-bottom: 10px;
        overflow: hidden;
        img {
          position: relative;
        }
      }

      &:hover {
        p {
          color: #fff;
        }
        background: #fff;
      }
    }
  }

  .modal.modal-fullscreen {
    .modal-header {
      border: 0;
      text-align: center;
      .close {
        width: 40px;
        height: 40px;
        line-height: 25px;
        background: #fff;
        border-radius: 4px;
      }
    }
    .modal-dialog,
    .modal-content {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      color: #f5f5f5;
      background: #767676;
    }

    .modal-dialog {
      margin: 0;
      width: 100%;
      overflow: hidden;
      .modal-body {
        padding: 0;
        text-align: center;
        img {
          height: 100vh;
          margin: auto;
        }
      }
    }

    .modal-content {
      border: none;
      -moz-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: inherit;
      -moz-box-shadow: inherit;
      -o-box-shadow: inherit;
      box-shadow: inherit;
    }
  }
}