<div class="modal modal-fullscreen fade" id="openImage" tabindex="-1" role="dialog" ng-click="closeModal()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
                <div class="container slider">
                    <img ng-repeat="slide in images" class="slide slide-animation nonDraggableImage"
                         ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()"
                         ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.url}}">

                    <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
                    <a class="arrow next" href="#" ng-click="prevSlide()"></a>
                </div>
            </div>
        </div>
    </div>
</div>